{# student/new #}

{% extends 'student/home.html.twig' %}

{% block about %}
{% endblock %}

{% block main %}

    {% if form is defined %}
    {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
    <div class="col-sm-11">
        <div class="well">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>
    {% else %}
        <div class="row">
            <div class="well">
                New student successfully added to the system</br></br></br>

                Student name  - {{ student.getFirstName }} {{ student.getSecondName }}</br>
                Username      - {{ student.getId }}</br>
                Password      - [Initial password] - pass@ + username
            </div>

        </div>
    {% endif %}

{% endblock %}