{# sport/view #}

{% extends 'sport/home.html.twig' %}

{% block about %}
{% endblock %}

{% block main %}

    <div class="row well">
        <div class="col-sm-4">
            <div class="well-sm">
                <h3>{{ sport.name }} - {{ sport.gender }}</h3>
                <h5>
                    {% if sport.minimum_age != 0 %}
                        For student above {{ sport.minimum_age }} years
                    {% else %}
                        Age limit is not specified
                    {% endif %}
                </h5>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="well-lg">
                The picture goes here
            </div>
        </div>

        <div c lass="col-sm-2">
            {% if app.user and is_granted('ROLE_ADMIN') %}
                <a href="{{ path('sport_edit', {'id':sport.id}) }}" class="btn btn-sm btn-primary">
                    <i class="fa fa-edit"></i>
                    Edit this sport details
                </a>
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="well">
            {{ sport.description }}
        </div>
    </div>

    <div class="panel">
        <div class="row">
            <div id="achievement" class="panel panel-default">
                <div class="panel panel-heading">
                    Achievements of {{ sport.name }}
                </div>
                <div class="panel panel-body">
                    <div class="row">
                        <div class="col-sm-5">
                            <div class="item-actions">
                                <a href="" class="btn btn-sm btn-default">
                                    <i class="fa fa-eye"></i>
                                    Go to achievements
                                </a>
                            </div>
                        </div>
                        {% if app.user and is_granted('ROLE_ADMIN') %}
                            <div class="col-sm-5">
                                <div class="item-actions">
                                    <a href="" class="btn btn-sm btn-default">
                                        <i class="fa fa-eye"></i>
                                        Add new achievements
                                    </a>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="event" class="panel panel-default">
                <div class="panel panel-heading">
                    Events of {{ sport.name }}
                </div>
                <div class="panel panel-body">
                    <div class="row">
                        <div class="col-sm-5">
                            <div class="item-actions">
                                <a href="" class="btn btn-sm btn-default">
                                    <i class="fa fa-eye"></i>
                                    Go to events
                                </a>
                            </div>
                        </div>
                        {% if app.user and is_granted('ROLE_ADMIN') %}
                            <div class="col-sm-5">
                                <div class="item-actions">
                                    <a href="" class="btn btn-sm btn-default">
                                        <i class="fa fa-eye"></i>
                                        Add new event
                                    </a>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="equipment" class="panel panel-default">
                <div class="panel panel-heading">
                    Equipments of {{ sport.name }}
                </div>
                <div class="panel panel-body">
                    <div class="row">
                        <div class="col-sm-5">
                            <div class="item-actions">
                                <a href="" class="btn btn-sm btn-default">
                                    <i class="fa fa-eye"></i>
                                    Go to equipments
                                </a>
                            </div>
                        </div>
                        {% if app.user and is_granted('ROLE_ADMIN') %}
                            <div class="col-sm-5">
                                <div class="item-actions">
                                    <a href="" class="btn btn-sm btn-default">
                                        <i class="fa fa-eye"></i>
                                        Add new equipment
                                    </a>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="practice" class="panel panel-default">
                <div class="panel panel-heading">
                    Practice schedules of {{ sport.name }}
                </div>
                <div class="panel panel-body">
                    <div class="row">
                        <div class="col-sm-5">
                            <div class="item-actions">
                                <a href="" class="btn btn-sm btn-default">
                                    <i class="fa fa-eye"></i>
                                    Go to practice schedules
                                </a>
                            </div>
                        </div>
                        {% if app.user and is_granted('ROLE_ADMIN') %}
                            <div class="col-sm-5">
                                <div class="item-actions">
                                    <a href="" class="btn btn-sm btn-default">
                                        <i class="fa fa-eye"></i>
                                        Add new practice schedule
                                    </a>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="student" class="panel panel-default">
            <div class="panel panel-heading">
                Students of {{ sport.name }}
            </div>
            <div class="panel panel-body">
                <div class="row">
                    <div class="col-sm-5">
                        <div class="item-actions">
                            <a href="" class="btn btn-sm btn-default">
                                <i class="fa fa-eye"></i>
                                Go to students
                            </a>
                        </div>
                    </div>
                    {% if app.user and is_granted('ROLE_ADMIN') %}
                        <div class="col-sm-5">
                            <div class="item-actions">
                                <a href="" class="btn btn-sm btn-default">
                                    <i class="fa fa-eye"></i>
                                    Add new student
                                </a>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="well-lg">
                Every other things will be appear here
            </div>
        </div>
    </div>

{% endblock %}